<plugin>
	<nom>
		GalettOnuts
	</nom>
	<auteur>
		[Mehdi Kabab->http://pioupioum.tuxfamily.org/] &copy; 2008 - Distribu&eacute; sous licence GNU/GPL.
	</auteur>
	<version>
		0.1
	</version>
	<etat>
		test
	</etat>
	<description>
		Ce plugin permet de synchroniser les utilisateurs de [Galette->http://galette.tuxfamily.org/] avec Spip. Tout nouvel adh&eacute;rent ou toute modification d&#x27;un adh&eacute;rent de votre installation Galette sont r&eacute;percut&eacute;s dans Spip.<br />
Aussi, si le plugin <em>Acc&egrave;s Restreint</em> est actif, le plugin vous proposera de lier automatiquement les adh&eacute;rents &agrave; une, voire plusieurs zones.

[Acc&eacute;der &agrave; la configuration->.?exec=admin_galettonuts]

<strong>Important&nbsp;:</strong> La d&eacute;installation du plugin entraine la suppression pure et simple des auteurs qu&#x27;il aurait cr&eacute;&eacute;.

<p style="font-size:x-small;margin-bottom:0;text-align:right">Crédits icônes : [Tango Desktop Project->http://tango.freedesktop.org/]</p>
	</description>
	<lien>
		[Documentation->http://pioupioum.tuxfamily.org/scripts/spip/galettonuts]
	</lien>
	<icon>
		img_pack/galettonuts-128.png
	</icon>
	<prefix>
		galettonuts
	</prefix>
	<install>
		base/galettonuts_upgrade.php
	</install>
	<options>
		galettonuts_options.php
	</options>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>galettonuts_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>galettonuts_pipelines.php</inclure>
	</pipeline>
</plugin>